In [4]:
import pandas as pd
df = pd.read_csv ("/Users/harishk/Downloads/london_weather.csv")

In [6]:
df.head()

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth
0,19790101,2.0,7.0,52.0,2.3,-4.1,-7.5,0.4,101900.0,9.0
1,19790102,6.0,1.7,27.0,1.6,-2.6,-7.5,0.0,102530.0,8.0
2,19790103,5.0,0.0,13.0,1.3,-2.8,-7.2,0.0,102050.0,4.0
3,19790104,8.0,0.0,13.0,-0.3,-2.6,-6.5,0.0,100840.0,2.0
4,19790105,6.0,2.0,29.0,5.6,-0.8,-1.4,0.0,102250.0,1.0

In [14]:
df['date'][df['precipitation'].idxmax()]

19920529

In [16]:
df.shape

(15341, 10)

In [17]:
df.columns

Index(['date', 'cloud_cover', 'sunshine', 'global_radiation', 'max_temp',
       'mean_temp', 'min_temp', 'precipitation', 'pressure', 'snow_depth'],
      dtype='object')

In [18]:
df['precipitation']

0        0.4
1        0.0
2        0.0
3        0.0
4        0.0
        ...
15336    2.0
15337    0.2
15338    0.0
15339    0.0
15340    0.0
Name: precipitation, Length: 15341, dtype: float64

In [20]:
type(df['date'])

pandas.core.series.Series

In [23]:
df[['date','sunshine','max_temp']]

           date  sunshine  max_temp
0      19790101       7.0       2.3
1      19790102       1.7       1.6
2      19790103       0.0       1.3
3      19790104       0.0      -0.3
4      19790105       2.0       5.6
...         ...       ...       ...
15336  20201227       0.9       7.5
15337  20201228       3.7       3.6
15338  20201229       0.0       4.1
15339  20201230       0.4       5.6
15340  20201231       1.3       1.5

[15341 rows x 3 columns]

In [24]:
df.describe

<bound method NDFrame.describe of            date  cloud_cover  sunshine  global_radiation  max_temp  mean_temp  \
0      19790101          2.0       7.0              52.0       2.3       -4.1
1      19790102          6.0       1.7              27.0       1.6       -2.6
2      19790103          5.0       0.0              13.0       1.3       -2.8
3      19790104          8.0       0.0              13.0      -0.3       -2.6
4      19790105          6.0       2.0              29.0       5.6       -0.8
...         ...          ...       ...               ...       ...        ...
15336  20201227          1.0       0.9              32.0       7.5        7.5
15337  20201228          7.0       3.7              38.0       3.6        1.1
15338  20201229          7.0       0.0              21.0       4.1        2.6
15339  20201230          6.0       0.4              22.0       5.6        2.7
15340  20201231          7.0       1.3              34.0       1.5       -0.8

       min_temp  precipitation  pressure  snow_depth
0          -7.5            0.4  101900.0         9.0
1          -7.5            0.0  102530.0         8.0
2          -7.2            0.0  102050.0         4.0
3          -6.5            0.0  100840.0         2.0
4          -1.4            0.0  102250.0         1.0
...         ...            ...       ...         ...
15336       7.6            2.0   98000.0         NaN
15337      -1.3            0.2   97370.0         NaN
15338       1.1            0.0   98830.0         NaN
15339      -0.1            0.0  100200.0         NaN
15340      -3.1            0.0  100500.0         NaN

[15341 rows x 10 columns]>

In [27]:
df[df.precipitation>= 8.4]

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth
31,19790201,8.0,0.0,19.0,4.0,5.2,1.2,10.1,99490.0,0.0
36,19790206,4.0,6.8,78.0,6.8,1.2,-1.6,9.0,101020.0,0.0
43,19790213,8.0,0.0,24.0,0.2,4.2,0.3,9.1,98130.0,0.0
71,19790313,8.0,0.0,42.0,3.8,4.6,4.4,20.3,100800.0,0.0
74,19790316,8.0,0.0,44.0,6.9,0.7,0.1,11.8,99160.0,0.0
...,...,...,...,...,...,...,...,...,...,...
15293,20201114,8.0,2.4,49.0,14.1,11.3,8.5,17.0,100820.0,NaN
15312,20201203,6.0,0.0,20.0,7.4,5.2,3.1,15.0,99340.0,NaN
15319,20201210,7.0,0.0,25.0,7.5,6.0,4.5,9.0,100000.0,NaN
15328,20201219,3.0,0.5,15.0,12.5,11.2,9.9,9.0,100450.0,NaN
15335,20201226,NaN,2.1,38.0,10.0,4.9,-0.1,12.0,101960.0,NaN

In [28]:
df[df.precipitation==df['precipitation'].max()]

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth
4897,19920529,8.0,2.5,153.0,20.7,17.6,15.1,61.8,100840.0,0.0

In [29]:
df['date'][df.precipitation==df['precipitation'].max()]

4897    19920529
Name: date, dtype: int64

In [30]:
df.set_index('date')

,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth
date,,,,,,,,,
19790101,2.0,7.0,52.0,2.3,-4.1,-7.5,0.4,101900.0,9.0
19790102,6.0,1.7,27.0,1.6,-2.6,-7.5,0.0,102530.0,8.0
19790103,5.0,0.0,13.0,1.3,-2.8,-7.2,0.0,102050.0,4.0
19790104,8.0,0.0,13.0,-0.3,-2.6,-6.5,0.0,100840.0,2.0
19790105,6.0,2.0,29.0,5.6,-0.8,-1.4,0.0,102250.0,1.0
...,...,...,...,...,...,...,...,...,...
20201227,1.0,0.9,32.0,7.5,7.5,7.6,2.0,98000.0,NaN
20201228,7.0,3.7,38.0,3.6,1.1,-1.3,0.2,97370.0,NaN
20201229,7.0,0.0,21.0,4.1,2.6,1.1,0.0,98830.0,NaN
20201230,6.0,0.4,22.0,5.6,2.7,-0.1,0.0,100200.0,NaN
20201231,7.0,1.3,34.0,1.5,-0.8,-3.1,0.0,100500.0,NaN

In [31]:
df[df.snow_depth== df['snow_depth'].max()]

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth
1076,19811212,1.0,5.8,46.0,4.5,-4.4,-8.4,0.0,100670.0,22.0